* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    height: 100vh
}

/* HEADER */

header {
    background: #F55A5A;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    height: 10vh;
}

.header-text {
    font-weight: 500;
    font-size: 1.5rem;
    letter-spacing: -0.075em;
}

/* CONCERTS */

.concert-container {
    max-width: 450px;
    width: 95%;
    height: fit-content;
    margin: 1.75em auto;
    padding-left: 1em;
    padding-right: 1em;
    display: flex;
    align-items: center;
    /* border: 3px red solid; */
}

hr {
    width: 90%;
    margin: 0 auto;
    border: 1px solid #F5F5F5;
}

.concert-img {
    max-width: 125px;
    width: 35%;
    height: 168px;
    object-fit: cover;
    margin-right: 1.25em;
    border-radius: 0.75em;
    border: 2px solid gray;
}

.outer-container {
    height: 168px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.inner-container {
    display: flex;
    align-items: center;
    gap: .5em
}

.concert-tour {
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: .2em;
    text-decoration: underline;
}

.concert-band {
    font-size: 1.2rem;
    font-weight: 600;
    color: #2B283A;
    margin-bottom: .2em;
}

.concert-acts {
    font-size: 0.65rem;
    line-height: 150%;
    color: #2B283A;
}

.concert-date {
    font-weight: 600;
    font-size: 0.5rem;
    color: #2B283A;
    text-transform: uppercase;
    margin-top: 1em;
    margin-bottom: 0.55em;
}

.location-icon {
    width: 0.3em;
    object-fit: cover;
}

.concert-location {
    margin-left: 0.5em;
    text-transform: uppercase;
    font-size: .55rem;
    letter-spacing: 0.15em;
    color: #2B283A;
}

/* MEDIA QUERIES */

@media screen and (min-width: 481px) and (max-width: 768px) {
    .concert-img {
        margin-right: 1.75em;
    }

    .concert-tour {
        font-size: 1.5rem;
    }

    .concert-band {
        font-size: 1.25rem;
    }

    .concert-acts {
        font-size: .75rem;
    }

    .concert-date {
        font-size: 0.65rem;
    }

    .concert-location {
        font-size: 0.65rem;
    }
}

@media screen and (min-width: 769px) and (max-width:1024px) {
    .concert-img {
        max-width: 150px;
        width: 35%;
        height: 200px;
    }

    .concert-tour {
        font-size: 1.75rem
    }

    .concert-band {
        font-size: 1.35rem;
    }

    .concert-acts {
        font-size: 1rem;
    }

    .concert-date {
        font-size: 0.75rem;
    }

    .concert-location {
        font-size: 0.75rem;
    }

    .concert-container {
        margin: 2em auto;
        height: fit-content;
    }

    .outer-container {
        height: fit-content;
    }
}

@media screen and (min-width: 1025px) {
    .concert-container {
        height: fit-content;
        max-width: unset;
        width: 80%;
        /* border: 3px red solid; */

    }

    .outer-container {
        height: fit-content;
    }

    .concert-img {
        margin-right: 2em;
        max-width: 300px;
        
    }

    .concert-tour {
        font-size: 1.75rem;
    }

    .concert-band {
        font-size: 1.35rem;
    }

    .concert-acts {
        font-size: 1rem;
    }

    .concert-date {
        font-size: .75rem;
    }

    .concert-location {
        font-size: .75rem;
    }

    .location-icon {
        width: .8em
    }
}